<footer>
  <div class="links-container d-flex flex-row col-lg-6">
    <div
      class="links d-flex flex-column text-center justify-content-center col-lg-12"
    >
      <h6 class="title-footer p-1">Locations</h6>

      <span class="p-1">Storia Italia - Str. Lorem nr 1</span> <br />
      <span class="p-1">Storia Caffe - Str. Lorem nr 2</span> <br />
      <span class="p-1">Storia Events - Str. Lorem nr 3</span>
    </div>
    <div
      class="links d-flex flex-column text-center justify-content-center col-lg-12"
    >
      <h6 class="title-footer p-1">Open</h6>
      <span class="p-2"
        >Monday - Thursday: 9AM - 23PM <br />Friday - Sunday: 10AM - 2AM</span
      >
      <span class="p-2"
        >Monday - Friday: 7AM - 18PM <br />Weekend: 9AM - 15PM</span
      >
      <span class="p-2">For events only</span>
    </div>
  </div>

  <div class="wrapper-logo column justify-content-center">
    <div
      class="container-logo py-3 col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center"
    >
      <img
        class="text-center mt-5"
        src="../../../assets/LocationLogos/STORIAnewCUT.png"
        alt="STORIA IMAGE"
      />
      <div class="text-center mt-5 mb-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta error,
        nobis qui nulla architecto repellendus dolore ea molestias, voluptatum
        distinctio voluptatem ab! Aspernatur minus quam accusantium quisquam
        esse tenetur eveniet earum perspiciatis quo exercitationem? Ex maxime,
        ullam laboriosam mollitia dicta accusantium praesentium quis.
      </div>
    </div>
  </div>

  <div class="social-container mt-4 h-25 d-flex justify-content-center">
    <a href="https://www.instagram.com/?__coig_restricted=1">
      <i class="fab fa-instagram fs-5 text-white py-1 px-2"></i>
    </a>
    <a href="https://www.facebook.com/">
      <i class="fab fa-facebook-messenger fs-5 text-white py-1 px-2"></i
    ></a>
    <a href="https://www.facebook.com/">
      <i class="fab fa-facebook fs-5 text-white py-1 px-2"></i
    ></a>
    <a href="https://web.whatsapp.com/">
      <i class="fab fa-whatsapp fs-5 text-white py-1 px-2"></i>
    </a>
  </div>

  <div class="copyright text-center fs-8 pb-1">
    Copyright © STORIA 2022 | ALL RIGHTS RESERVED
  </div>
</footer>
