<div
  class="nav-container"
  [ngStyle]="{ 'background-image': 'url(' + BackgroundPhoto + ')' }"
>
  <nav class="nav w-100" [ngStyle]="{ height: '' + HeightNav + '' }">
    <input type="checkbox" id="nav-check" />
    <div class="nav-header d-inline">
      <div class="nav-title d-inline-block">
        <img class="w-75" [src]="Logo" alt="STORIA ITALIA" />
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    <div
      class="nav-links d-inline text-uppercase position-absolute overflow-hidden py-0 px-5"
    >
      <a
        class="d-inline-block text-decoration-none text-white"
        [routerLink]="['home']"
        >{{ "home.navbar.home" | translate }}</a
      >

      <a
        class="d-inline-block text-decoration-none text-white"
        [routerLink]="['events']"
        >{{ "home.navbar.events" | translate }}</a
      >
      <a
        class="d-inline-block text-decoration-none text-white"
        [routerLink]="['contact']"
        >{{ "home.navbar.contact" | translate }}</a
      >
      <a
        class="d-inline-block text-decoration-none text-white"
        [routerLink]="['aboutus']"
        >{{ "home.navbar.aboutus" | translate }}</a
      >
      <app-login class="login"></app-login>

      <button
        (click)="switchEN()"
        class="btn pull-right text-white bg-transparent"
      >
        EN
      </button>
      <button
        (click)="switchRO()"
        class="btn pull-right text-white bg-transparent"
      >
        RO
      </button>
    </div>
  </nav>
  <div
    *ngIf="IsMessageVisible"
    class="nav-subtitle text-nowrap position-absolute text-white"
  >
    <h1>{{ "home.navbar.message" | translate }}</h1>
    <app-modal></app-modal>
  </div>
</div>
