<app-my-button
  type="button"
  class="btn-reservation w-auto text-uppercase text-white border-0 py-2 px-4"
  (click)="openModal(template)"
  [name]="'Book now'"
>
</app-my-button>

<ng-template #template class="modal">
  <div class="wrapper">
    <div class="modal-header">
      <h4 class="modal-title pull-left text-white" *ngIf="textShow">
        {{ "events.modalBookEvent.title" | translate }}
      </h4>
      <h4 class="modal-title text-center text-white" *ngIf="!textShow">
        {{ "events.modalBookEvent.congrats" | translate }}
      </h4>
      <button
        type="button"
        class="btn-close close pull-right"
        aria-label="Close"
        (click)="modalRef?.hide()"
      >
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>

    <div *ngIf="textShow" class="form fs-5">
      <form
        action=""
        class="d-flex flex-column"
        [formGroup]="eventForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="d-flex ms-2 mt-2">
          <label for="fullname" class="d-block p-2">
            {{ "events.modalBookEvent.fullname" | translate }}</label
          >
          <input
            id="fullname"
            type="text"
            class="input-field w-50 rounded"
            placeholder="{{ 'events.modalBookEvent.yourfullname' | translate }}"
            formControlName="fullname"
          />
        </div>
        <div
          *ngIf="
            !eventForm.get('fullname')?.valid &&
            (eventForm.get('fullname')?.touched ||
              eventForm.get('fullname')?.dirty)
          "
        >
          <small
            [hidden]="!eventForm.get('fullname')?.hasError('required')"
            class="error text-danger"
            aria-live="polite"
          >
            {{ "validations.fieldRequired" | translate }}
          </small>
          <small
            [hidden]="!eventForm.get('fullname')?.hasError('pattern')"
            class="error text-danger"
            aria-live="polite"
          >
            {{ "validations.onlyNumbers" | translate }}
          </small>
        </div>
        <div class="d-flex ms-2 mt-2">
          <label for="age" class="d-block p-2">
            {{ "events.modalBookEvent.age" | translate }}</label
          >
          <input
            id="age"
            type="text"
            class="input-field w-50 rounded"
            placeholder="{{ 'events.modalBookEvent.yourage' | translate }}"
            formControlName="age"
          />
        </div>
        <div
          class="d-flex flex-column"
          *ngIf="
            !eventForm.get('age')?.valid &&
            (eventForm.get('age')?.touched || eventForm.get('age')?.dirty)
          "
        >
          <small
            [hidden]="!eventForm.get('age')?.hasError('required')"
            class="error text-danger"
            aria-live="polite"
          >
            {{ "validations.fieldRequired" | translate }}
          </small>
          <small
            [hidden]="!eventForm.get('age')?.hasError('pattern')"
            class="error text-danger"
            aria-live="polite"
          >
            {{ "validations.onlyNumbers" | translate }}
          </small>
        </div>
        <div class="d-flex ms-2 mt-2">
          <label for="phone" class="d-block p-2">
            {{ "events.modalBookEvent.phone" | translate }}</label
          >
          <input
            id="phone"
            type="text"
            class="input-field w-50 rounded"
            placeholder="{{ 'events.modalBookEvent.yourphone' | translate }}"
            formControlName="phone"
          />
        </div>
        <div
          class="d-flex flex-column"
          *ngIf="
            !eventForm.get('phone')?.valid &&
            (eventForm.get('phone')?.touched || eventForm.get('phone')?.dirty)
          "
        >
          <small
            [hidden]="!eventForm.get('phone')?.hasError('required')"
            class="error text-danger"
            aria-live="polite"
          >
            {{ "validations.fieldRequired" | translate }}
          </small>
          <small
            [hidden]="!eventForm.get('phone')?.hasError('pattern')"
            class="error text-danger"
            aria-live="polite"
          >
            {{ "validations.onlyNumbers" | translate }}
          </small>
          <small
            [hidden]="!eventForm.get('phone')?.hasError('minlength')"
            class="error text-danger"
            aria-live="polite"
          >
            {{ "validations.charactersLong" | translate }}
          </small>
        </div>

        <button
          class="book m-4 text-uppercase fs-6 py-2 px-4 text-white border-0 rounded"
          type="submit"
          [disabled]="!eventForm.valid"
        >
          {{ "events.modalBookEvent.bookBtn" | translate }}
        </button>
      </form>
    </div>
    <h3 *ngIf="!textShow" class="text-center p-3">
      <br />
      {{ "events.modalBookEvent.successBooked" | translate }}
    </h3>
  </div>
</ng-template>
