<div class="form fs-5">
  <h2 id="registration">
    {{ "contact.formContact.contactForm" | translate }}
  </h2>
  <form
    action=""
    class="d-flex flex-column p-3"
    [formGroup]="reactiveForm"
    (ngSubmit)="onSubmit()"
  >
    <label class="d-block pb-2" for="firstname"></label>
    <input
      class="input-field w-75 rounded py-2 px-3"
      type="text"
      id="firstname"
      placeholder=" {{ 'contact.formContact.firstName' | translate }}"
      formControlName="firstname"
    />
    <div
      *ngIf="
        !reactiveForm.get('firstname')?.valid &&
        (reactiveForm.get('firstname')?.touched ||
          reactiveForm.get('firstname')?.dirty)
      "
    >
      <small
        [hidden]="!reactiveForm.get('firstname')?.hasError('required')"
        class="error pull-left"
        aria-live="polite"
      >
        {{ "validations.fieldRequired" | translate }}
      </small>
      <small
        [hidden]="!reactiveForm.get('firstname')?.hasError('pattern')"
        class="error pull-left"
        aria-live="polite"
      >
        {{ "validations.onlyLetters" | translate }}
      </small>
    </div>

    <label class="d-block mb-2" for="lastname"></label>
    <input
      class="input-field w-75 rounded py-2 px-3"
      type="text"
      id="lastname"
      placeholder=" {{ 'contact.formContact.lastName' | translate }}"
      formControlName="lastname"
    />
    <div
      *ngIf="
        !reactiveForm.get('lastname')?.valid &&
        (reactiveForm.get('lastname')?.touched ||
          reactiveForm.get('lastname')?.dirty)
      "
    >
      <small
        [hidden]="!reactiveForm.get('lastname')?.hasError('required')"
        class="error pull-left"
        aria-live="polite"
      >
        {{ "validations.fieldRequired" | translate }}
      </small>
      <small
        [hidden]="!reactiveForm.get('lastname')?.hasError('pattern')"
        class="error pull-left"
        aria-live="polite"
      >
        {{ "validations.onlyLetters" | translate }}
      </small>
    </div>

    <label class="d-block mb-2" for="email"></label>
    <input
      class="input-field w-75 rounded py-2 px-3"
      type="email"
      id="email"
      placeholder="Email"
      formControlName="email"
    />
    <div
      *ngIf="
        !reactiveForm.get('email')?.valid && reactiveForm.get('email')?.touched
      "
    >
      <small
        [hidden]="!reactiveForm.get('email')?.hasError('required')"
        class="error pull-left"
        aria-live="polite"
      >
        {{ "validations.fieldRequired" | translate }}
      </small>
      <small
        [hidden]="!reactiveForm.get('email')?.hasError('email')"
        class="error pull-left"
        aria-live="polite"
      >
        {{ "validations.notEmail" | translate }}
      </small>
    </div>

    <label class="d-block mb-2" b for="phone"></label>
    <input
      class="input-field w-75 rounded py-2 px-3"
      type="tel"
      id="phone"
      placeholder=" {{ 'contact.formContact.phoneNumber' | translate }}"
      formControlName="phone"
    />
    <div
      *ngIf="
        !reactiveForm.get('phone')?.valid &&
        (reactiveForm.get('phone')?.touched || reactiveForm.get('phone')?.dirty)
      "
    >
      <small
        [hidden]="!reactiveForm.get('phone')?.hasError('required')"
        class="error pull-left"
        aria-live="polite"
      >
        {{ "validations.fieldRequired" | translate }}
      </small>
      <small
        [hidden]="!reactiveForm.get('phone')?.hasError('pattern')"
        class="error pull-left"
        aria-live="polite"
      >
        {{ "validations.onlyNumbers" | translate }}
      </small>
      <small
        [hidden]="!reactiveForm.get('phone')?.hasError('minlength')"
        class="error pull-left"
        aria-live="polite"
      >
        {{ "validations.charactersLong" | translate }}
      </small>
    </div>

    <label class="d-block mb-2" for="subject"></label>
    <input
      class="input-field w-75 rounded py-2 px-3"
      type="text"
      id="subject"
      placeholder=" {{ 'contact.formContact.subject' | translate }}"
      formControlName="subject"
    />
    <div
      *ngIf="
        !reactiveForm.get('subject')?.valid &&
        (reactiveForm.get('subject')?.touched ||
          reactiveForm.get('subject')?.dirty)
      "
    >
      <small class="error pull-left" aria-live="polite">
        {{ "validations.fieldRequired" | translate }}
      </small>
    </div>

    <label class="d-block mb-2" for="message"></label>
    <textarea
      class="textarea-field input-field w-100 rounded py-2 px-3"
      type="text"
      name="message"
      id="message"
      placeholder=" {{ 'contact.formContact.messageHere' | translate }}"
      formControlName="message"
    ></textarea>
    <div
      *ngIf="
        !reactiveForm.get('message')?.valid &&
        (reactiveForm.get('message')?.touched ||
          reactiveForm.get('message')?.dirty)
      "
    >
      <small
        [hidden]="!reactiveForm.get('message')?.hasError('required')"
        class="error pull-left"
        aria-live="polite"
      >
        {{ "validations.fieldRequired" | translate }}
      </small>

      <small
        [hidden]="!reactiveForm.get('message')?.hasError('minlength')"
        class="error pull-left"
        aria-live="polite"
      >
        {{ "validations.charactersLong20" | translate }}
      </small>
    </div>

    <button type="submit" class="p-2 mt-2 btn" [disabled]="!reactiveForm.valid">
      {{ "contact.formContact.submit" | translate }}
    </button>
  </form>
</div>
