<section class="section-1 py-4 px-5" id="section-1">
  <div class="welcome-message text-center fs-6 py-4">
    <em>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, quisquam
      adipisci. Voluptatem veniam autem doloribus possimus ipsa. Non,
      perferendis eligendi? Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Facilis perferendis neque consequatur repellat vitae? Id aliquam
      similique ipsam repellat maxime. <br />
      <br />
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta incidunt
      similique cumque nihil, quia obcaecati assumenda, expedita, delectus esse
      magnam harum ipsam molestiae dicta. Repudiandae laudantium fugiat
      quibusdam accusantium nostrum ad nisi ullam delectus, cupiditate amet et
      consequatur tempore dolorum, facilis eius quo vel atque voluptatem quas
      dignissimos sit voluptatibus.
    </em>
  </div>
</section>

<app-home-section2></app-home-section2>
<app-home-section3></app-home-section3>
