<section class="section-italia-1 d-flex">
  <div class="special-text text-center">
    <h5 class="text-uppercase">Specialty of the Month</h5>
    <h1>Bistecca Alla Fiorentina</h1>
    <p class="mt-5">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat delectus
      veritatis nulla incidunt quidem obcaecati laboriosam culpa esse a
      excepturi non ipsam soluta mollitia facere dignissimos consequuntur magni,
      labore in facilis.
      <br />
      <br />
      Vitae impedit, similique nisi maxime praesentium illum maiores aut
      possimus soluta consequuntur nulla voluptas, reiciendis velit provident
      rem error. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Debitis cum illo iusto eum laboriosam quasi dignissimos, tenetur non
      perferendis? Ea ipsa, veritatis aliquid aliquam ipsam ut facilis officiis
      consequuntur iste! Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad,
      magnam?
    </p>
  </div>
</section>

<carousel class="">
  <slide>
    <section class="section-menu">
      <img
        src="../../../assets/tonys-clayton-st-louis-lg.jpg"
        alt="second slide"
        style="display: block; width: 100%"
      />
      <div class="carousel-caption d-none d-md-block">
        <h3 class="discover">Discover</h3>
        <h2 class="our-menu text-uppercase">menu storia italia</h2>
        <p class="our-menu-text font-italic">
          Elegance is the "ingredient" found both in our menu and in the
          atmosphere of the location.<br />
          We are waiting for you to discover it!
        </p>
        <a href="../../../assets/menu.pdf">
          <app-my-button [Name]="'Open Menu'" [Style]="''"> </app-my-button
        ></a>
      </div>
    </section>
  </slide>
  <slide>
    <img
      src="../../../assets/vishwas-katti-UrQ_BS9bLXQ-unsplash.jpg"
      alt="second slide"
      style="display: block; width: 100%"
    />
    <div class="carousel-caption d-none d-md-block">
      <h3 class="discover">Discover</h3>
      <h2 class="our-menu text-uppercase">menu storia italia</h2>
      <p class="our-menu-text font-italic">
        Elegance is the "ingredient" found both in our menu and in the
        atmosphere of the location.<br />
        We are waiting for you to discover it!
      </p>
      <!-- <a href="../../../assets/menu.pdf">
        <button class="btn">Open Menu</button></a
      > -->
      <a href="../../../assets/menu.pdf">
        <app-my-button [Name]="'Open Menu'" [Style]="''"> </app-my-button
      ></a>
    </div>
  </slide>
  <slide>
    <img
      src="../../../assets/fabrizio-magoni-boaDpmC-_Xo-unsplash.jpg"
      alt="third slide"
      style="display: block; width: 100%"
    />
    <div class="carousel-caption d-none d-md-block">
      <h3 class="discover">Discover</h3>
      <h2 class="our-menu text-uppercase">menu storia italia</h2>
      <p class="our-menu-text font-italic">
        Elegance is the "ingredient" found both in our menu and in the
        atmosphere of the location.<br />
        We are waiting for you to discover it!
      </p>
      <a href="../../../assets/menu.pdf">
        <app-my-button [Name]="'Open Menu'" [Style]="''"> </app-my-button
      ></a>
    </div>
  </slide>
</carousel>
<div class="nostra-storia">
  <h1 class="text-center mt-5 text-capitalize">La nostra storia</h1>
  <p class="text-center mt-5">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque quod sit
    suscipit provident perferendis labore? Porro ad ratione nesciunt pariatur
    aperiam earum, deserunt dignissimos mollitia reiciendis cumque accusamus,
    tempore eos! Nulla, suscipit delectus laborum qui amet eligendi nesciunt
    aspernatur aperiam dicta nostrum quod omnis iste hic odit veritatis velit,
    possimus, corporis impedit nihil accusamus reiciendis distinctio. Molestiae
    perferendis, reprehenderit asperiores soluta eos amet autem laborum eveniet
    illum ratione ipsam quo labore alias eius voluptate, similique deleniti quod
    doloribus! Odit atque nisi numquam exercitationem, accusamus corrupti
    molestiae sunt dolores nobis natus esse. Distinctio tenetur, eum
    voluptatibus quidem dolore ad doloremque aperiam. <br /><br />
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla error,
    labore vitae aliquid magnam, iure quas voluptates illum culpa dolorem maxime
    tempora facere voluptatum libero itaque quidem numquam laborum velit! Sint
    tenetur quam eos pariatur omnis maxime cum quisquam minus deleniti totam,
    eum aut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
    repellendus debitis iure fuga non vel nulla neque excepturi quod incidunt
    quasi, pariatur voluptate hic omnis iste maxime nesciunt iusto voluptatem.
    <br /><br />
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla error,
    labore vitae aliquid magnam, iure quas voluptates illum culpa dolorem maxime
    tempora facere voluptatum libero itaque quidem numquam laborum velit! Sint
    tenetur quam eos pariatur omnis maxime cum quisquam minus deleniti totam,
    eum aut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
    repellendus debitis iure fuga non vel nulla neque excepturi quod incidunt
    quasi, pariatur voluptate hic omnis iste maxime nesciunt iusto voluptatem.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla error,
    labore vitae aliquid magnam, iure quas voluptates illum culpa dolorem maxime
    tempora facere voluptatum libero itaque quidem numquam laborum velit! Sint
    tenetur quam eos pariatur omnis maxime cum quisquam minus deleniti totam,
    eum aut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
    repellendus debitis iure fuga non vel nulla neque excepturi quod incidunt
    quasi, pariatur voluptate hic omnis iste maxime nesciunt iusto voluptatem.
  </p>
</div>
