<a
  type="button"
  class="btn-reservation text-decoration-none w-auto text-uppercase text-white border-0 py-2 px-4"
  (click)="openModal(template)"
  *ngIf="!isLoggedIn"
  >LOGIN
</a>

<a
  type="button"
  class="btn-reservation text-decoration-none w-auto text-uppercase text-white border-0 py-2 px-4"
  *ngIf="isLoggedIn"
  (click)="clearStorage()"
  >LOGOUT
</a>

<ng-template #template class="modal">
  <div class="wrapper">
    <div class="modal-header">
      <h4 class="modal-title text-center text-white">
        {{ "login.login" | translate }}
      </h4>
      <button
        type="button"
        class="btn-close close pull-right"
        aria-label="Close"
        (click)="modalRef?.hide()"
      >
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>

    <div class="card m-4">
      <div [hidden]="!isError" class="text-danger">INVALID CREDENTIALS</div>
      <form [formGroup]="loginForm" action="" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="InputEmail" class="form-label">
            {{ "login.email" | translate }}</label
          >
          <input
            formControlName="email"
            type="email"
            id="InputEmail"
            class="form-control"
            name="email"
          />
        </div>
        <div class="mb-3">
          <label for="InputPassword" class="form-label">
            {{ "login.password" | translate }}</label
          >
          <input
            formControlName="password"
            type="password"
            id="InputPassword"
            class="form-control"
            name="password"
          />
        </div>
        <app-my-button
          class="m-2"
          type="submit"
          [name]="'Submit'"
        ></app-my-button>
      </form>
    </div></div
></ng-template>
