<section class="section-3 p-4 h-auto">
  <h1 class="text-center text-uppercase">partners</h1>
  <p class="py-4 text-center fs-6">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, consectetur
    nihil. Nostrum culpa deleniti dignissimos veniam iure quidem dolore
    voluptatibus fuga ducimus, saepe quaerat earum alias facere et reiciendis.
    Consectetur soluta cum dicta odit quas officia mollitia debitis,
    consequuntur nihil eius earum vero cumque voluptates rerum nesciunt
    recusandae autem sapiente. Quos architecto voluptas laudantium tempora
    eveniet esse excepturi beatae? Eligendi quae libero voluptate aut
    voluptatem. <br />
    <br />
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis est aliquam
    perferendis rem fuga mollitia assumenda quam? Molestiae, autem veritatis
    ipsa vel ratione doloremque, sunt iste tempora excepturi possimus optio
    adipisci saepe! Autem inventore, amet repellat placeat sint dolorem, sunt
    enim laborum, debitis reiciendis vero pariatur ab quis soluta qui optio
    similique laudantium quasi rem architecto quam molestias? Sunt, amet cumque
    officiis perferendis eveniet temporibus nulla fuga accusantium placeat sint.
  </p>
  <div class="row justify-content-center">
    <div
      class="section-3-partners-container text-center col-xs-6 col-sm-6 col-md-6 col-lg-3 pt-3"
      *ngFor="let partner of partners"
    >
      <img
        src="{{ partner }}"
        alt="Partner"
        class="partner-image rounded m-3"
      />
    </div>
  </div>
</section>
